<div id="market", align="center">
  <h1><%= @market.name %></h1>
  <p><%= @market.street %></p>
  <p><%= "#{@market.city}, #{@market.state} #{@market.zip}" %></p><br>
</div>

<h3>Vendors at our Market:</h3>
<% @vendors.each do |vendor| %>
  <p><%= link_to "#{vendor.name}" %></p>
<% end %>